<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/home"
        color="primary"></ion-back-button>
    </ion-buttons>
    
  <ion-title>Bienvenido!</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-content id="fondoApp">
    <ion-img src="assets/logoApp.png" ></ion-img>
    <ion-row>
      <ion-col offset="2.5" size="7">
        <ion-button id="btn" expand="block" strong=true [routerLink]="['/crearcuenta']">
         Registro Docentes
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="2.5" size="7">
        <ion-button id="btn" expand="block" strong=true [routerLink]="['/crearalum']">
           Registro Alumnos
        </ion-button>
      </ion-col>
     

    </ion-row>
   
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    

    


  <!--
  <ion-button routerLink="/alert">
    Alert
  </ion-button>

  <ion-button routerLink="/action-sheet">
    Action Sheet
  </ion-button>-->

</ion-content>