

<ion-list>

  <ion-list-header>
    <strong>Menú</strong>
  </ion-list-header>

  <!-- <ion-menu-toggle>
    <ion-item *ngIf="rol === 'profesor' " detail="true" [routerLink]="['/cam-qr']" >
          <ion-label>
            Crear QR
          </ion-label>
          <ion-icon slot="start" name="home"></ion-icon>
    </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle>
    <ion-item *ngIf="rol === 'alumno' " detail="true" [routerLink]="['/registrar-asistencia']" >
          <ion-label>
            Registrar Asistencia
          </ion-label>
          <ion-icon slot="start" name="home"></ion-icon>
    </ion-item>
  </ion-menu-toggle> -->

  <ion-menu-toggle>
    <ion-item detail="true" [routerLink]="['/entretenimiento']" >
          <ion-label>
            Entretenimiento
          </ion-label>
          <ion-icon slot="start" name="home"></ion-icon>
    </ion-item>
  </ion-menu-toggle>  

  

<ion-menu-toggle *ngIf="login">


</ion-menu-toggle>
  

</ion-list>
