<ion-header>
  <ion-toolbar>
    
  <ion-title>Bienvenido!</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-content id="fondoApp">
    <ion-img src="assets/logoApp.png" ></ion-img>
    <ion-row>
      <ion-col offset="2.5" size="7">
        <ion-button id="btn" expand="block" strong=true [routerLink]="['/logprofesor']">
         Docentes
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="2.5" size="7">
        <ion-button id="btn" expand="block" strong=true [routerLink]="['/logalumno']">
           Alumnos
        </ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col offset="2.5" size="7">
        <ion-button id="btn" expand="block" strong=true [routerLink]="['/registro']">
           Registrate
        </ion-button>
      </ion-col>
    </ion-row>
    
    
    

    


  <!--
  <ion-button routerLink="/alert">
    Alert
  </ion-button>

  <ion-button routerLink="/action-sheet">
    Action Sheet
  </ion-button>-->

</ion-content>